*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkolivegreen;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100% ;
}